.fluid-typo {
	font-size: 3.3vmax;
	font-family: Consolas, monospace;
}

.flex {
	display: flex;
}

.flexed {
	flex: 1;
}

.flex-text-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.operator {
	@include background(#272735);
}